*{
    margin: 0px;
}
#wrapper{
    background-color: lightblue;
    height: 800px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    padding: 30px;
    margin: 0px auto;
}
.left{
    display: inline-block;
    margin: 0px;
}
.right{
    float: right;
    display: inline-block;
    margin: 0px 5px;
}
.col{
    width: 40%;
    border-radius: 20px;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    overflow: scroll;
    text-align: center;
}
.noclick{
    width: 40%;
    border-radius: 20px;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    overflow: scroll;
    text-align: center;
}
.lightcyan{
    background-color: lightcyan;
    border: 8px solid #cbf1f1;
}
.green{
    background-color: #b5f3b5;
    border: 8px solid #a7e6a7;
}
.red{
    background-color: #f5c2c2;
    border: 8px solid #f1adad;
}
.hideme{
    display: none;
}
.showme{
    display: visible;
}
.correct{
    background-color: lightgreen;
}
.options{
    text-align: center;
}
/*label{
    display: inline-block;
    float: left;
}
input{
    display: inline-block;
    float: right;
}*/
h1, h2, h3, h4, p, form{
    margin: 20px 0px;
    text-align: center;
}
a{
    text-decoration: none;
}
.small{
    font-size: 90%;
    margin: 0px;
}
.i{
    font-style: italic;
}
.b{
    font-weight: bold;
}
.big{
    font-size: 180%;
}
.bigish{
    font-size: 120%;
}
.button{
    background-color: #94b8ef;
    border: 5px solid #85a4d4;
    margin: 0px auto;
    text-align: center;
    display: block;
    padding: 20px;
    width: 25%;
    border-radius: 20px;
    color: white;
}